GO2_ROBOT_ID=go2-edu-001
GO2_CAMERA_ID=go2_front
GO2_NETWORK_INTERFACE=
GO2_WIRELESS_IP=
GO2_SDK_TIMEOUT_SECONDS=3
GO2_FRAME_STALE_SECONDS=3
GO2_RECONNECT_INITIAL_SECONDS=1
GO2_RECONNECT_MAX_SECONDS=5
GO2_CAPTURE_FPS=15
GO2_MJPEG_FPS=10
GO2_JPEG_QUALITY=70
GO2_UPLOAD_ENABLED=false
GO2_UPLOAD_URL=http://127.0.0.1:8092/api/video/frame
GO2_UPLOAD_TOKEN=local-test-token
GO2_UPLOAD_FPS=2
GO2_UPLOAD_TIMEOUT_SECONDS=1
GO2_UPLOAD_MAX_BYTES=512000
GO2_HEARTBEAT_URL=http://127.0.0.1:8092/api/video/heartbeat
GO2_HEARTBEAT_INTERVAL_SECONDS=5
